body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #052c53;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
}

.FJU-Esporte {
    max-height: 80px;
}

.Lista-Topicos {
    padding: 5px;
}

.Lista-Topicos ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.Lista-Topicos a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 600;
}

.Lista-Topicos a:hover{
    text-decoration: none;
    color: #d40000;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 600;
}

.banner-contato {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 55vh;
    box-shadow: 4px 4px 4px rgb(0,0,0,0.4);
    overflow: hidden;
}

.banner-bandeira {
    width: 100%;
    height: 100%;
}

.Bandeira-Fju {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 8px rgba(0,0,0,0.3);
}


.texto-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.titulo-texto {
    text-align: center;
    font-weight: 700;
    color: #052c53;
    line-height: 1.5;
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    
}

.texto {
    text-align: center;
    font-weight: 500;
    color: #052c53;
    line-height: 1.5;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    max-width: 950px;
}

.numero-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.informação {
    text-align: left;
    font-weight: 700;
    line-height: 1.5;
    color: #052c53;
    font-family: "Roboto",sans-serif;
    font-size: 25px; 
}

.telefone {
    text-align: center;
    
}

.imagem-telefone {
    max-height: 100px;
}

.texto-agendamento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.texto-agendamento h2 {
    line-height: 1.5;
    font-weight: 700;
    color: #052c53;
    font-family: "Roboto",sans-serif;
    font-size: 25px;
}









hr {
    width: 70%;
    margin-top: 5%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #052c53;
    color: #ffffff;
    padding: 10px 20px;
    font-family: "Open Sans",sans-serif;

}