<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos - Sports FJU</title>
    <link rel="stylesheet" href="../../assets/css/contacts.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="../../assets/images/logo-esporteFJU.png" alt="FJU-logo" class="FJU-Esporte">

        <nav class="Lista-Topicos">
            <ul>
                <li><a href="">Campeonatos</a></li>
                <li><a href="http://localhost/sportsfju/view/web/fju.html">FJU</a></li>
                <li><a href="">Contatos</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="banner-contato">
            <div class="banner-bandeira">
                <img src="../../assets/images/esporte-bandeira.jpeg" alt="Bandeira-Fju" class="Bandeira-Fju">
            </div>
        </section>


        <section class="contatos">
            <div class="texto-contato">
                <p class="titulo-texto">Projeto Esporte FJU - Aqui o Jogo é Vencer na Vida!</p>
                <p class="texto">Quer fazer parte do nosso time? 
                    Entre em contato e descubra como participar dos treinos, campeonatos e ações do Projeto Esporte da FJU.
                    Seja para melhorar o condicionamento físico, fazer novas amizades ou desenvolver disciplina e foco, esse é o seu lugar!</p>
            </div>
            <hr>

            <div class="numero-contato">
                <p class="informação">Telefone/WhatsApp para informações:</p>
                <p class="telefone">
                    <a href="https://wa.me/55196868059" target="_blank">
                        <img src="../../assets/images/whatsapp.png" alt="WhatsApp" class="imagem-telefone">
                    </a>
                </p>
            </div>
        </section>
        <hr>

        <section class="agendamento">
            <div class="texto-agendamento">
                <h2>Agendamento:</h2>
                <h2>Segunda a Sabado 15hr , 18hr, 20hr</h2>
            </div>
        </section>



    </main>

    <footer>
        <h2>Força Jovem Universal</h2>
        &copy;-Feito por Kayke Melo - 2025
    </footer>
</body>
</html>