<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FJU - Sports FJU</title>
    <link rel="stylesheet" href="../../assets/css/fju.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="../../assets/images/logo-esporteFJU.png" class="FJU-Esporte" alt="FJU-logo">

        <nav class="Lista-Topicos">
            <ul>
                <li><a href="#">Campeonatos</a></li>
                <li><a href="#">FJU</a></li>
                <li><a href="http://localhost/sportsfju/view/web/contacts.html">Contatos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="banner-fju">
            <div class="texto-imagem">
                <p class="texto">No FJU da Universal, cada jovem encontra a oportunidade de crescer, aprender e se transformar, desenvolvendo fé, disciplina e propósito para vencer na vida.</p>
                <img src="../../assets/images/fju.png" alt="" class="imagem-fju">
            </div>
        </section>

        <section class="frase-fju">
            <div class="texto-fju">
                <p class="titulo-texto">Quem é a Força Jovem Universal?</p>
                <p class="fju">A Força Jovem Universal (FJU) é um movimento que transforma vidas e mostra que o jovem pode fazer a diferença. Criado pela Igreja Universal, o grupo tem como missão ajudar jovens a superar desafios como vícios, depressão, violência e falta de propósito.

                    Mais do que apoio, a FJU oferece oportunidades de crescimento pessoal e espiritual, através de esportes, dança, música, teatro, projetos sociais e ações solidárias. É um espaço onde o jovem descobre seu valor, desenvolve talentos e encontra uma nova visão de futuro.</p>
            </div>
        </section>
        <hr>


        <section class="redes-sociais">
            <p class="texto-link">Nos Acompanhe</p>
            <div class="redes-lista">
                <a href="https://www.instagram.com/fjusaopaulo" target="_blank">
                    <img src="../../assets/images/instagram.png" alt="Instagram" class="rede-social">
                </a>

                <a href="https://www.universal.org/" target="_blank">
                    <img src="../../assets/images/universal.png" alt="Universal" class="rede-social">
                </a>

                <a href="https://www.youtube.com/c/For%C3%A7aJovemUniversal" target="_blank">
                    <img src="../../assets/images/youtube.png" alt="Youtube" class="rede-social">
                </a>
            </div>
        </section>
    </main>

    <footer>
        <h2>Força Jovem Universal </h2>
        &copy;-Feito Por Kayke Melo - 2025
    </footer>
</body>
</html>